annotated-types==0.6.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
greenlet==3.0.3
idna==3.7
pydantic==2.7.1
pydantic_core==2.18.2
python-dotenv==1.0.1
python-gmail @ git+https://github.com/zackplauche/python-gmail@3e2c4f5e04ca572a6e07c54d43e67398ab45b438
requests==2.31.0
soupsieve==2.5
SQLAlchemy==2.0.30
typing_extensions==4.11.0
urllib3==2.2.1
